<form
  #teacherForm="ngForm"
  (ngSubmit)="confirmAndSaveTeacher()">

  <div class="container-fluid mt-4">

    <div class="card stm-card shadow-lg border-0">

      <div class="card-header stm-header">

        <div class="d-flex align-items-center">

          <div class="header-line"></div>

          <div class="ms-3">

            <h5 class="mb-0 fw-semibold">
              Add Teacher
            </h5>

            <small>
              Add New Teacher
            </small>

          </div>

        </div>

      </div>

      <div class="card-body">

        <div class="row g-4">

          <div class="col-md-3">

            <label class="form-label">
              Teacher Name
            </label>

            <input
              type="text"
              class="form-control stm-control"
              [(ngModel)]="teacher.teacherName"
              name="teacherName"
              required
               (input)="onNameInput($event)">

          </div>

          <div class="col-md-3">

            <label class="form-label">
              Mobile Number
            </label>

            <input
              type="text"
              class="form-control stm-control"
              [(ngModel)]="teacher.mobileNo"
              name="mobileNo"
              required
              pattern="[0-9]{10}"
              maxlength="10"
              inputmode="numeric"
              (input)="onMobileInput($event)">

          </div>

          <div class="col-md-2">

            <label class="form-label">
              Subject
            </label>

            <select
              class="form-select stm-control"
              [(ngModel)]="teacher.subjectId"
              name="subjectId"
              required>

              <option value>
                Select Subject
              </option>

              <option
                *ngFor="let subject of subjects"
                [value]="subject.subject_id">

                {{ subject.subject_name }}

              </option>

            </select>

          </div>

          <div class="col-md-3">

            <label class="form-label">
              Monthly Salary
            </label>

            <input
              type="number"
              min="1"
              class="form-control stm-control"
              [(ngModel)]="teacher.monthlySalary"
              name="monthlySalary"
              required>

          </div>
          <div class="col-md-3">

            <label class="form-label">
              Joining Date
            </label>

            <input
              type="date"
              class="form-control stm-control"
              [(ngModel)]="teacher.joiningDate"
              name="joiningDate"
              required>

          </div>
        </div>

        <div class="text-center mt-5">

          <button
            type="submit"
            class="btn stm-save-btn px-5"
            [disabled]="teacherForm.invalid">

            Save Teacher

          </button>

        </div>

      </div>

    </div>

  </div>

</form>