<!-- <p>newpassword works!</p> -->
<div class="mainContainer">
    <h1>Change Password</h1>

    <form [formGroup]="passwordForm" novalidate>



        <mat-form-field appearance="fill" class="full-width password-field">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword"
                placeholder="New password">

            <button mat-icon-button matSuffix class="eye-btn" (click)="hide = !hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>



        <mat-form-field appearance="fill" class="full-width">

            <input matInput type="password" placeholder="Confirm  password" formControlName="confirmPassword" required
                minlength="6" />


        </mat-form-field>


        <!-- Login Button -->
        <div class="center">
            <button class="btn btn-primary" mat-raised-button type="submit" (click)="onSubmit()">
                Update Password
            </button>
        </div>


        <!-- Register Link -->
        <!--   <div class="center">
            <a routerLink="/register">Register</a>
        </div> -->
    </form>
</div>