.stm-table {
    margin-bottom: 0;
}

.stm-table thead {
    background: #f8f9fa;
}

.stm-table thead th {
    color: #146c43;
    font-weight: 700;
    border-bottom: 2px solid #198754;
    padding: 14px;
}

.stm-table tbody td {
    padding: 14px;
    vertical-align: middle;
}

.stm-table tbody tr:hover {
    background-color: #f8fff9;
}

.stm-balance-badge {
    background: #dc3545;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
}

.table-responsive {
    border-radius: 10px;
}


.stm-save-btn:hover {
    background: #ffca2c;
}

.card-body {
    padding: 25px;
}


.stm-card {
    border-radius: 18px;
    overflow: hidden;
    background: #ffffff;
}

.stm-header {
    background: linear-gradient(
        90deg,
        #0f5132 0%,
        #146c43 100%
    );
    color: white;
    padding: 10px 18px;
    border-bottom: 3px solid #ffc107;
}

.header-line {
    width: 5px;
    height: 35px;
    background: #ffc107;
    border-radius: 4px;
}

.stm-header h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.stm-header small {
    color: #d8f3dc;
    font-size: 11px;
}

.form-label {
    font-weight: 600;
    color: #146c43;
    margin-bottom: 8px;
}

.stm-control {
    height: 52px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    font-size: 15px;
}

.stm-control:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.15rem rgba(25, 135, 84, 0.25);
}

.stm-save-btn {
    background: #ffc107;
    color: #000;
    font-weight: 700;
    border: none;
    min-width: 220px;
    height: 52px;
    border-radius: 10px;
    font-size: 15px;
}

.stm-save-btn:hover {
    background: #ffca2c;
}

.card-body {
    padding: 25px;
}

.download-btn {
  width: 135px;
  font-size: 10px;
  padding: 4px 6px;

  background-color: #ffffff;
  color: #198754;
  border: 1px solid #198754;
  border-radius: 4px;
}

.download-btn:hover {
  background-color: #198754;
  color: #ffffff;
}

.download-arrow {
  font-size: 20px;
  font-weight: bold;
  margin-left: 4px;
  line-height: 0;
}


.swal-title{
    font-size:26px !important;
    font-weight:700 !important;
}

.swal-text{
    font-size:18px !important;
    font-weight:500 !important;
}

.swal-confirm-btn,
.swal-cancel-btn{
    font-size:16px !important;
    font-weight:600 !important;
    padding:10px 24px !important;
}